body {
    background-color: #BFD7EA;
}

/* Making the header, main, and footer show different background colors for visibility */

/* Styling for the items inside the header */
header {
    background-color: #0B3954;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

header div {
    background-color: #087E8B;
    padding-right: 10px;
    padding-left: 10px;
    height: 80px;
    margin: auto;
    border-radius: 10px;
}

header div h1 {
    text-align: center;
}

nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #087E8B;
    margin: 2% auto;
    padding: 18px;
    border-radius: 10px;
}

nav a {
    padding-right: 10px;
    font-weight: bold;
    font-size: 22px;
}

/* Styling for banner */
div img {
    margin: 0 auto;
    width: 100%;
    height:200px;
}

/* Styling for the main sections */
section {
    background-color: #9CD08F;
}

section > *{
    display: inline-flex;
    flex-direction: row;
    margin: 2% auto;
}

section p {
    width: 80%;
}

section h2 {
    border-right: 2px solid black;
    padding: 5px;
}

/* Footer */
footer {
    background-color: #0B3954;
}