* {
    display: inline-block;
}

/* Making the header, main, and footer show different background colors for visibility */
header {
    background-color: blue;
}

main {
    background-color: brown;
}

footer {
    background-color: bisque;
}

nav {
    background-color: antiquewhite;
}

section {
    background-color: aqua;
}